# Normalize all text files to use LF
* text=auto eol=lf

# Explicit file types
*.js   text
*.jsx  text
*.json text
*.md   text
*.html text
*.css  text

*.png binary
*.jpg binary
*.jpeg binary
*.ico binary
